{
    "source": {
        "directories": [
            "src"
        ]
    },
    "mutators": {
        "@default": true
    },
    "logs": {
        "badge": {
            "branch": "1.x.x"
        },
        "text": "infection.log"
    }
}